
.exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseHeader {
    display:grid;
    grid-template-columns: 200fr 1fr;
    padding: 10px;


}

.exerciseHeaderLogo {
    width: 200px;
    height: 80px;

}

.exerciseHeaderNav {

}

.exerciseHeaderNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    gap: 10px;
    


}

.exerciseHeaderNav ul li {


}


/* Main */

.exerciseMain {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap:10px
}

.exerciseMainLeftNav {


}

.exerciseMainContent {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    gap: 10px;
    margin-right: 10px;

}

.exerciseMainContent > * {
    margin: 0;
}

.exerciseMainContentBanner {
    grid-column: span 4;

}

.exerciseMainContentSubBanner {
    grid-column: span 3;

}

.exerciseMainContentBlock {

}