
.exerciseHeader, .exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
    display: block;
}

.exerciseMainFeatures {
    display: grid;
    gap: 10px;
    grid-template-columns: 5fr 10fr 6fr;

}

.exerciseMainFeatures .exerciseMarketingFeature {
    

}

.exerciseMainFeatures .exerciseMarketingFeature:first-child {

}

.exerciseAdditionalFeatures {

}

.exerciseAdditionalFeatures .exerciseMarketingFeature {


}

.exerciseAdditionalFeatures .exerciseMarketingFeature:first-child {

}